.canvas {
    background-color: black;
}

.sliderDiv,
.rate {
    display: inline;
}

.generation {
    font-size: large;
}

.currentScore,
.bestScore {
    color: rgb(92, 92, 92);
    line-height: 3px;
}

.saved {
    opacity: 0;
}
